build
**/build/**
*/build
.gradle
**/.gradle
*/.gradle
.idea
*/.idea
node_modules
**/node_modules
*/node_modules
.DS_Store
/echo-events/echo/.classpath
/echo-events/echo/.project
/echo-events/echo/.settings/*
