.sp-formItem__left {
  display: block;
  align-self: flex-start;
}
.grid {
  display: grid;
}
.grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.sp-formItem {
  display: flex;
  flex-direction: column;
}
.sp-formItem__right {
  padding: 0;
}
.grid-span-2 {
  grid-column: auto/span 2;
}
.grid-span-3 {
  grid-column: auto/span 3;
}
.grid-span-4 {
  grid-column: auto/span 4;
}
.form {
  max-width: 80%;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.opsmxLogo {
  padding: 10px 20px;
}
.opsmxLogo img {
  width: 80px;
  max-width: 100px;
  max-height: 80px;
}

.score {
  font-size: 28px;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 1em;
  display: inline-block;
  color: white;
  &Small {
    font-size: 12px;
    padding: 2px 4px;
    margin-bottom: 0px;
    font-weight: inherit;
    color: white;
  }
}

.detailpagelogo {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.verificationScoreDanger {
  background-color: var(--color-danger);
}
.verificationScoreSuccess {
  background-color: var(--color-success);
}
.verificationScoreAlert {
  background-color: var(--color-alert);
}
.verificationReportActive {
  background-color: var(--color-accent);
  color: white;
}
.verificationReportActive :hover{
  text-transform: none !important;
  color: white !important;
  cursor: pointer !important;
}

.mainform {
  width: 75%;
}
.clikable{
  cursor: pointer;
}
.modal-popup-verification{
  width: 95%; 
  // height: 750px;
  margin: 30px auto;
}
.dropdown-buttons {
  padding : 30px;
}
.react-modal-custom{
  display : block;
  z-index : 10000!important;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
}
.modal-popup-verification h4{
  font-weight: 600;
}

.modal-popup-verification{
  .isd40_content_section{
    overflow-x: hidden;
  }
}

.modal-popup-delete{
  width: 950px;
  margin: 30px auto;
}

.form-horizontal {
  .control-label-right {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-weight: bold;
  }
}

.form-group {
  margin-bottom: 5px;
}

.width-85{
  width: 85%;
}
.width-60{
  width: 58%;
}

.checkox-class{
  padding: 5px 0px 5px 16px;
}

.label-left{
  margin-top: 5px;
}

#templateFrame{
  width: 100%;
  height: 650px;
}

.align-right{
  float:right
}
.close-button-popup{
  position:relative;
  top:10px;
}
@media screen and (max-width: 1300px) and (max-height: 800px) {
  #templateFrame{
    width: 100%;
    height: 340px;
  }
}

@media screen and (min-width: 1600px) {
  #templateFrame{
    width: 100%;
    height: 650px;
  }
}